.container1 {
    margin-top: 10%;
    margin-left: 20%;
}
.pg1-head1 {
    font-size: 60px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.pg1-head2 {
    font-size:60px;
    font-weight:100;
    color:gray;
    margin-right: 330px;
    font-family:"Roboto";
}
.pg1-head3 {
    font-size: 35px;
    font-family:"Roboto";
    color: #707070;
    

}
.head {
    margin-bottom: 10px;
}
.pg1-btn {
    border-radius: 50%;
    background: rgb(243, 67, 3);
    height: 50px;
    width: 50px;
    text-decoration: none;
    font-size: 30px;
    padding: 5px 11px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    
}
.pg1-link {
    text-decoration: none;

}
.pg1-cards {
    display: inline-block;
    margin-top: 10px;
}
.card {
    display:inline-block;
    border: 1px lightcoral solid;
    height: 350px;
    width: 229px; 
    border-radius: 10px;
    margin: 30px;
    box-shadow: 10px 10px 10px 0 rgba(148, 143, 143, 0.979) ;
    font-family: sans-serif;
    
}
.boxhead {
    color: lightcoral;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px gray groove;
    padding-bottom: 15px;
    margin-left: 36px;
}
.boxtask {
    text-decoration: line-through;
    color:red;
    font-weight: 700;
    text-align: center;
    font-size: 23px;
    text-decoration-thickness: 3px;
}
.pg1-checkbox {
    font-size: 20px;
}


/* INDEX 2 CSS PART */

.container2 {
    margin-left: 34%;
    margin-top: -3%;

}

.pg2-heading {
    
    font-size: 65px;
    font-family:sans-serif;
    font-weight: 750;
    position: relative;
    text-align: center;
    margin: 100px auto;
    max-width: 700px;
}
.pg2-heading:before {
    content: "";
    display: block;
    background: gray;
    width: 150px;
    height: 1px;
    position: absolute;
    top:50% ;
    left: 0;

}
.pg2-heading:after {
    content: "";
    display: block;
    background: gray;
    width: 150px;
    height: 1px;
    position: absolute;
    top:50% ;
    right: 0;
}

.pg2-link {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 44px 0px 70px 136px;
    
}
.pg2-icon {
    color: rgb(245, 65, 0);
    margin-right: 9px;
    font-size: 36px;
}
.pg2-icontext {
    color: gray;
    font-size: 36px;

}
.pg2-card{

    border: 1px lightcoral solid;
    height: 400px;
    width: 400px; 
    border-radius: 10px;
    margin: 10px;
    box-shadow: 10px 10px 10px 0px rgba(148, 143, 143, 0.979) ;
}
.pg2-boxhead {
    color: lightcoral;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px gray groove;
    padding-bottom: 17px;
    margin-left: 117px;
}
.pg2-boxtask {
    text-decoration: line-through;
    color:red;
    text-decoration-thickness: 3px;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.checkbox {
     margin-left: 90px;
     font-size: 21px;
}

.pg2-button {
    margin-top: 35%;
    margin-left: 82%;
}



/* INDEX 3 CSS PART AND  INDEX 4 CSS PART */

body,html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.pg34-card {
    border: 1px lightcoral solid;
    height: 220px;
    width: 420px; 
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px 0px rgba(148, 143, 143, 0.979) ;
    color: rgb(233, 64, 3); 
    margin-left: 38%; 
    margin-top: 18%;
    background:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    
 } 
.textbox {
    height: 33px;
    width: 300px;

}
.btn {
    background: coral;
    border-radius: 22px;
    border: 0px;
    color:#ffffff;
    height: 40px;
    width: 80px;
    font-size: 22px;
}

.blur1 {
    background-image: url(./image1.png);
    backdrop-filter: blur(8px);
    background-repeat: no-repeat;
    background-size: cover;
}
.blur2 {
    background-image: url(./image2.png); 
    backdrop-filter: blur(8px);
    background-repeat: no-repeat;
    background-size: cover;

}
