.container1 {
    margin-top: 10%;
    margin-left: 27%;
}
.pg1-head1 {
    font-size: xxx-large;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
}
.pg1-head2 {
    font-size: xxx-large;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:100;
    color: #707070;
    margin-right: 230px;
}
.pg1-head3 {
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:10;
    color: #707070;
}
.head {
    margin-bottom: 10px;
}
.pg1-btn {
    border-radius: 50%;
    background: coral;
    height: 50px;
    width: 50px;
    text-decoration: none;
    font-size: 30px;
    padding: 5px 11px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    
}
.pg1-link {
    text-decoration: none;

}
.pg1-boxes {
    display: inline-block;
    margin-top: 10px;

    
}
.box {
    display:inline-block;
    border: 1px lightcoral solid;
    height: 260px;
    width: 200px; 
    border-radius: 10px;
    margin: 10px;
    box-shadow: 10px 10px 10px 0 rgba(148, 143, 143, 0.979) ;
    
}
.boxhead {
    color: lightcoral;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px gray groove;
    padding-bottom: 15px;
    margin-left: 36px;
}
.boxtask {
    text-decoration: line-through;
    color:red;
    font-weight: 500;
    text-align: center;
    font-size: large;
    text-decoration-thickness: 2px;
}


/* INDEX 2 CSS PART */

.container2 {
    margin-left: 37%;
    margin-top: -6%;

}

.pg2-heading {
    
    font-size: xxx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    position: relative;
    text-align: center;
    margin: 100px auto;
    max-width: 650px;
}
.pg2-heading:before {
    content: "";
    display: block;
    background: gray;
    width: 150px;
    height: 1px;
    position: absolute;
    top:50% ;
    left: 0;

}
.pg2-heading:after {
    content: "";
    display: block;
    background: gray;
    width: 150px;
    height: 1px;
    position: absolute;
    top:50% ;
    right: 0;
}

.pg2-link {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 44px 0px 39px 136px;
    
}
.pg2-icon {
    color: coral;
    margin-right: 3px;
    font-size: 36px;
}
.pg2-icontext {
    color: gray;
    font-size: 36px;

}
.pg2-box {

    border: 1px lightcoral solid;
    height: 350px;
    width: 350px; 
    border-radius: 10px;
    margin: 10px;
    box-shadow: 10px 10px 10px 0px rgba(148, 143, 143, 0.979) ;
}
.pg2-boxhead {
    color: lightcoral;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px gray groove;
    padding-bottom: 17px;
    margin-left: 117px;
}
.pg2-boxtask {
    text-decoration: line-through;
    color:red;
    text-decoration-thickness: 2px;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
}

.checkbox {
     margin-left: 90px;
     font-size: 20px;
}

.pg2-button {
    margin-top: 39%;
    margin-left: 82%;
}



/* INDEX 3 CSS PART AND  INDEX 4 CSS PART */

body,html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.main {
    border: 1px lightcoral solid;
    height: 161px;
    width: 300px; 
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px 0px rgba(148, 143, 143, 0.979) ;
    color: coral; 
    margin-left: 40%; 
    margin-top: 18%;
    background:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    position: absolute;
 } 
.textbox {
    color: coral;
    height: 25px;
    width: 210px;

}
.btn {
    background: coral;
    border-radius: 15px;
    border: 0px;
    color:#ffffff;
    height: 30px;
    width: 64px;
}
.blur1 {
    background-image: url(./image1.png);
    backdrop-filter: blur(8px);
    background-repeat: no-repeat;
    background-size: cover;
}
.blur2 {
    background-image: url(./image2.png); 
    backdrop-filter: blur(8px);
    background-repeat: no-repeat;
    background-size: cover;

}
